.group {
  background: rgba(188, 109, 90, 1);
  color: black;
  font-family: "Cabin-Regular";
  font-weight: 400;
  border-radius: 10px;
}

.item{
  margin-top: 0.5em;
}

.items{
  padding: 0 0.5em 0.5em;
}
