.wrapper{
    position: relative;
    width: 1300px;
    height: 275px;
    border: 1px solid red;
    background-image: url("../../../shared/media/kaykingpic.png"); //TODO: upload this img
    border-radius: 0px 0px 20px 20px;

}