<div class="wrapper dnd-boundary">
  <div class="myGear checklist">
    <div class="header">
      My Gear
    </div>
    <div class="group" *ngFor="let groupItem of groupsList">
      <app-group  [groupname]=groupItem [items]=gearListByGroups[groupItem]></app-group>
    </div>
  </div>
  <div class="myChecklists checklist">
    <div class="header">
      My Checklists
    </div>
    <div class="group" *ngFor="let checklist of checklists">
      <app-checklist [checklist]=checklist [items]=checklistsWithItems[checklist.checklistNum]></app-checklist>
    </div>
  </div>
</div>
