@import "/src/assets/shared/global.scss";

.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myGear{

}

.myChecklists{

}

.checklist{
  color: white;
  display: inline-block;
  border: $dev-border solid white;
  border-radius: 20px;
  width: 48%;
  background: rgba($color: #000000, $alpha: 0.55);
  min-height: 500px;
}

.header{
  border: $dev-border solid yellow;
  color: white;
  font-family: "Cabin-Regular";
  font-weight: 400;
  font-size: 18px;
  padding: 1.5em 1em;
}

.group{
  margin: 0 0.5em 0.5em;
}
